:root {
    --main-bg-color: hsl(193, 74%, 15%);
    --main-text-color: hsl(164, 100%, 50%);
    --secondary-text-color: hsl(164, 5%, 63%);
  }

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    width: 100vw;
    max-width: 576px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
}

.logo img {
    margin: 1rem;
}

.user__avatar {
    position: absolute;
}

.user__avatar-1 {
    left: 1rem;
    top: 4rem;
}

.user__avatar-2 {
    left: 14rem;
}

.user__avatar-3 {
    left: 16rem;
    bottom: 1rem;
}

.user__avatar-1 img {
    max-height: 130px;
}


.title_main {
    font-family: 'Sen', sans-serif; 
    color: var(--main-text-color);
}

.title_main h1 {
    margin: 8rem 1rem 2rem;
    font-size: 2.8rem;
}

.subtitle_main {
    font-family: 'Inter', sans-serif; 
    color: var(--secondary-text-color);
}

.subtitle_main p {
    font-size: 1.5rem;
    margin: 1rem 2rem .5rem 1rem;
}

.button_btn {
    margin: 1rem;
    width: 250px;
    height: 50px;
    border: thin solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Sen', sans-serif;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
}

.follow-us-on-twitter {
    flex-grow: 1;
    align-items: flex-end;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    
}

.follow-us-on-twitter .text {
    margin-left: 1rem;
    line-height: 48px;
    font-family: 'Inter', sans-serif; 
    color: var(--secondary-text-color);
}