* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* a:link, a:visited, a:active {
    text-decoration:none;
} */

.grid_container {
  height: 100vh;
  width: 100vw;
  /* border: 5px solid rgb(248, 26, 26); */
  margin: auto;
  display: grid;
  grid-template:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  grid-template-columns: 4fr 12fr 4fr;
  grid-template-rows: 2fr 2fr 18fr 2fr;
}


.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.btn {
  background-color: #4caf50;
  text-decoration: none; 
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.main__imagen {
    display: inline-block;
    border: solid 1px red;
    align-content: center;
}

header {
  grid-area: header;
  text-align: center;

}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  text-align: center;
}
