*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 50px;
    padding: .5rem;
}

header {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    list-style-type: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
}

main {
    flex-grow: 1;
}

.hero-image {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1461151304267-38535e780c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80');
    background-repeat: no-repeat;
    
}

.hero-image h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 8vw;
    background-color: rgba(0, 0, 0, .75);
}

.sticky-footer {
    background-color: aqua;
    text-align: center;
}

@media screen and (min-width: 500px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
    }

    .menu li{
        margin: 10px;
        padding: 10px;
    }
}

